Source: deepin-galliumos-samus
Section: admin
Priority: required
Maintainer: GalliumOS <galliumos@galliumos.org>
Standards-Version: 3.9.1

Package: deepin-galliumos-samus
Architecture: all
Priority: required
Depends:  firmware-intel-sound
Provides: Deepin
Replaces: pulseaudio
Description: GalliumOS customizations for SAMUS
 This package contains SAMUS-specific files for GalliumOS.Modify for Deepin on ChromeBook Pixel 2015
